<% provide(:title, @taxon.name) %>
<%= render partial: 'categories_light_section', locals: {taxon: @taxon} %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render partial: 'taxonomy', locals: {taxonomies: @taxonomies} %>
        <%= render 'color_search' %>
        <%= render 'size_search' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area' %>        
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-sm-4 col-xs-12">
              <div class="productBox">
                <%= link_to potepan_product_path(product.id) do %>
                  <div class="productImage clearfix">
                    <% if product.images.any? %>
                      <%= image_tag product.images.first.attachment(:large), :alt => "products-img" %>
                    <% end %>                
                  </div>
                  <div class="productCaption clearfix">
                    <h5><%= product.name %></h5>
                    <h3><%= product.display_price %></h3>
                  </div>
                <% end %>                
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'partners_logo' %>
